<form action="/articles" method="post">
  <p>Article Title: <input type="text" name="article_title"></p><br>
  <p>Article Content: <input type="text" name="article_content"></p>
  <input type="submit" id="Submit">
</form>
