<h2> Article Title: <%= @article.title %></h2>
<h2> Article Content: <%= @article.content %></h2>

<form method="post" action="/articles/<%= @article.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>